body {
    background: rgba(238, 241, 250, 255);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    font-size: 16pt;
    font-weight: 700;
}

.navbar a.nav-link {
    font-weight: 300;
    font-size: 16px;
}

.wheater {
    font-size: 14px;
}

.card-wheater {
    background: linear-gradient(180deg, rgba(8, 73, 134, 1) 0%, rgba(78, 138, 201, 1) 100%);
    color: white;
}

.desc {
    text-transform: capitalize;
}

.c {
    font-size: 42px;
}

.big {
    font-size: 5rem;
}

video {
    object-fit: cover;
    max-height: 272px;
    border-radius: 20px;
    /* transform: rotateY(180deg); */
}

.videoFlask{
    object-fit: cover;
    max-height: 272px;
    min-height: 272px;
    border-radius: 20px;
    transform: rotateY(180deg);
}
.webcam {
    padding: 0px;
}

.webcam p.overlay {
    color: white;
    position: absolute;
    bottom: 0;
    right: 5%;
    background: rgba(0, 0, 0, 0.288);
    padding: 5px 10px 5px;
}

.card-title {
    font-weight: 700;
    color: black;
}

span.thin {
    font-weight: 300;
}

.latlon p {
    margin: 0;
}

.youtube {
    background: rgb(235, 51, 73);
    background: linear-gradient(180deg, rgba(235, 51, 73, 1) 0%, rgba(244, 92, 67, 1) 100%);
    color: white;
}

.yt-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

#subCount {
    text-align: center;
    font-size: 5rem;
    color: white
}

.sentiment p {
    margin: 0;
    font-size: 16px;
    margin-top: 10px;
}

.sentiment i {
    margin-bottom: 10px;
}

.negative {
    color: red;
}

.neutral {
    color: rgb(255, 174, 0);
}

.positive {
    color: green;
}

.sosmed .decor {
    width: 85px;
    height: 85px;
    background: #51d483;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 100%;
    opacity: 30%;
}

.sosmed p:nth-child(1) {
    margin-bottom: 10px;
}

.audience p:nth-child(1) {
    margin-bottom: 5px;
}

.decor.instagram {
    background: #515bd4;
}

.decor.article {
    background: #dd2a7b;
}

.decor.website {
    background: #2aa4dd;
}

.sosmed i {
    margin-right: 5px;
}

.card.lastvid {
    padding: 0px;
}

.lastvid img {
    width: 100%;
    object-fit: cover;
    max-height: 170px;
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
}

.overlay-text {
    position: absolute;
    padding: 20px;
    background: rgba(0, 0, 0, 0.568);
    height: 100%;
    border-radius: 20px;
    color: white;
    width: 100%;
}

#videoLast {
    margin: 15px 0 15px;
}

.playbutton {
    position: absolute;
    z-index: 2;
    right: 6%;
    bottom: 22%;
    transform: translate(50%, 50%);
}

.round-button {
    box-sizing: border-box;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    color: white;
}

.round-button:hover {
    color: red;
    text-shadow: 0px 0px 10px rgb(252, 252, 252);
}

.lastvid a:hover {
    text-decoration: none;
}

.small {
    font-size: 11pt;
}

#dateVideo {
    font-weight: 700;
}

.helper {
    position: absolute;
    bottom: 0;
    right: 0;
}

.helper img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.list-sosmed img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.list-sosmed i {
    opacity: 35%;
}

.list-sosmed p {
    margin: 0;
}

.on-air {
    padding: 0px;
}

.on-air h1 {
    font-size: 45pt;
    margin: 0;
}

.on-air img {
    width: 100%;
    object-fit: cover;
    max-height: 170px;
    border-radius: 20px;
}

.remark-overlay {
    background: rgba(0, 0, 0, 0.247);
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-text {
    position: absolute;
    bottom: 25%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.inner-text p:nth-child(2) {
    margin: 0;
}

.inner-text h1 {
    font-weight: 700;
}

canvas#myChart {
    height: 200px;
}

.chart {
    padding: 0;
}

.visual-aid {
    /* Styles for visual aid. */
    font-size: 12pt;
    height: 1.2em;
    background: #000000;
    width: 100%;
    position: relative;
    color: white;
    margin-top: 5px;
}

footer {
    margin-top: 40px;
}

.social {
    color: #ffcd33;
}

.direct {
    color: #c196ff;
}

.organic {
    color: #9de3fe;
}

.referral {
    color: #ff7fc6;
}

.chart-google {
    background: #9de3fe;
    color: white;
}

.chart-google i {
    bottom: 50%;
    position: absolute;
    left: 50%;
}

.marquee {
    height: 35px;
}

.compro {
    padding: 0;
    cursor: pointer;
}

.compro video {
    object-fit: cover;
    max-height: 170px;
    transform: none;
}

.overlay-compro {
    width: 100%;
    background: rgba(0, 0, 0, 0.144);
    height: 100%;
    border-radius: 20px;
    position: absolute;
}

.overlay-compro a {
    color: rgba(255, 255, 255, 0.808);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.anoun,
p {
    margin: 0;
    font-size: 18px;
}

.modal-dialog {
    max-width: 1100px;
    margin: 30px auto;
    vertical-align: middle;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.er-info p {
    font-size: 13pt;
}

.middle {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}